<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="outputFilePath" class="java.lang.String">
		<constructor-arg value="d:/Trainings/InterviewPreparationWorkspace/test" />
	</bean>
	<bean id="outputFileName" class="java.lang.String">
		<constructor-arg value="outputProducerTest.out" />
	</bean> 

	<bean id="outputFile" class="java.io.File" >
		<constructor-arg ref="outputFilePath"/>
		<constructor-arg ref="outputFileName"/>
	</bean> 

	<bean id="raf" class="java.io.RandomAccessFile" scope="prototype">
		<constructor-arg ref="outputFile"/>
		<constructor-arg value="rw"/>
	</bean>

	<bean id="channel" class="java.io.RandomAccessFile" >
		<constructor-arg ref="outputFile"/>
		<constructor-arg value="rw"/>
	</bean>

	<bean id="writer" class="com.epam.gyozo_karer.Writer"/>
	<bean id="creator" class="com.epam.gyozo_karer.LineCreator"/>
	
	<bean id="producer" class="com.epam.gyozo_karer.Producer">
		<property name="file" ref="outputFile"/>
		<property name="raf" ref="raf"/>
		<property name="writer" ref="writer"/>
		<property name="lineCreator" ref="creator"/>
		<property name="maxCounter" value="1"/>
	</bean>
	
</beans>
